
{{> head }}


    <!-- Renderiza -->
    {{> navbar }}
    <div class="jumbotron">
        <h1>{{ titulo }} estas en el año {{ anio }}</h1>
        <p>{{ texto }}</p>
    </div>
    {{> footer }}
